@using MVCBase.Models.Container
@using MVCBase.Models.VesselVisit
@model IEnumerable<MVCBase.Models.Container.ContainerViewModel >

@{
    ViewBag.Title = "Index";
}


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Container</button>

<!-- Modal -->
<button type="button" class="btn btn-danger" id="impButton">Import</button>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
     
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Container/Create.cshtml", new ContainerViewModel())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<table id="TableContainer"  class="display table-bordered" >

    <thead>
        <tr>
            <th>id</th>
            <th>equipament</th>
            <th>typeIso</th>
            <th>owner</th>
            <th>typeLenght</th>
            <th>tareWt</th>
            <th>safewt</th>
            <th>import</th>
            <th>detail</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GKey)
                    @Html.HiddenFor(modelItem => item.GKey)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentNbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeIso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TareWt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Safewt)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Imp, new {data_unidad = item.GKey})
                    @Html.HiddenFor(modelItem => item.Imp)
                </td>
                <td>
                    <a href="@Url.Action("Information", "Container", new {id = item.GKey})" class="btn btn-warning">
                        details
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </td>
                

            </tr>

        }
    </tbody>

</table>
<script src="~/js/Contain/Index.js"></script>
